includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: max
    paths:
        - bin
        - src
        - tests
    scanFiles:
        - vendor/giorgiosironi/eris/src/Generator/ChooseGenerator.php
    checkUninitializedProperties: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkImplicitMixed: true
    checkBenevolentUnionTypes: true
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
